// import bootstrapa
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";

// import fontawesome
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";

// style
body {
  font-family: Arial, sans-serif;
  background-color: rgb(33 37 41);
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-custom-font{
    font-size: 36px;
}
.brand-logo-sizing{
    width: 60px;
    height: 60px;
}
.navbar-elements-font{
    font-size: 24px;
}
.nav-login-user{
    vertical-align: middle;
    margin-right: 20px;
}
.nav-right-bar{
    width: 60px;
    height: 60px;
}
.nav-link-right{
    text-decoration: none;
}
#carouselExampleRide{
    width: 100%;
}
.carousel-item{
    height: 300px;
}
.card-product{
    margin-top: 50px;
}
